<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h> Пользователи </h>
<table border="1">
    <tr>
        <th>Идентификатор</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Почта</th>
        <th>Редактирование</th>
        <th>Удаление</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:utext="${user.id}">Id</td>
        <td th:utext="${user.name}">Name</td>
        <td th:utext="${user.lastname}">lastName</td>
        <td> <a th:href="@{update/{id}(id=${user.id})}">Редатировать запись</a></td>
        <td> <a th:href="@{delete/{id}(id=${user.id})}">Удалить запись</a></td>
    </tr>
</table>
<a th:href="@{/create}">Создать нового пользователя</a>
</body>
</html>